<!DOCTYPE html>
<html>
  <head>
    <title>IPQ-GREA</title>


	  <link rel="stylesheet" href="stylesheets/geral.css" />
    <link rel="stylesheet" href="stylesheets/dashboard.css" />

    <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
	  <script src="https://kit.fontawesome.com/a81368914c.js"></script>
	  <meta name="viewport" content="width=device-width, initial-scale=1">
    
  </head>
  <body>
 
    <%- include('parts/background') %>
    
    <%- include('parts/menu') %>

    <div class="principal">
      <h2> Olá, <%= nomeUsuario %>.</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at sollicitudin eros. Etiam id lectus tempor, auctor dolor id, iaculis lorem. Praesent a consectetur lectus, eget dictum massa. Praesent rhoncus enim orci. Integer eros leo, faucibus in erat non, euismod fringilla nisl. Etiam quis dignissim ex. Suspendisse vestibulum auctor erat, a pellentesque nunc vulputate ac. Nam non dapibus tortor.</p>
      <p>Donec porta rutrum turpis vitae imperdiet. Donec semper luctus dolor, quis facilisis enim feugiat eget. Phasellus tempor nibh et est consequat, quis aliquet nulla egestas. Etiam elementum ante sollicitudin mollis molestie. Praesent maximus mi id sem finibus, sed tempus risus tincidunt. Etiam at turpis sed quam molestie ornare. Nulla justo est, molestie non mollis non, dignissim non lacus. Aenean dui leo, ultrices ac tortor vitae, dictum aliquet justo. Fusce ut aliquam nisl, id posuere orci. Nulla imperdiet urna sed justo accumsan, quis pharetra libero vestibulum. Sed a posuere ipsum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nunc vel est sit amet neque bibendum pellentesque.</p>
      <p>Em caso de dúvidas envie um e-mail para: suporte@mail.com.br</p>
    </div>
  </div>


  </body>

</html>
