.avgrid {
	display: grid;
	grid-template-columns: 0.6fr 0.3fr 0.3fr 0.3fr 0.3fr;
	grid-row-gap: 2rem;
	grid-column-gap: 0.25rem;
}

.avgrid5 {
	display: grid;
	grid-template-columns: 0.6fr 0.3fr 0.3fr 0.3fr 0.3fr 0.3fr;
	grid-row-gap: 2rem;
	grid-column-gap: 0.25rem;
}

.avgrid3 {
	display: grid;
	grid-template-columns: 0.6fr 0.3fr 0.3fr 0.3fr;
	grid-row-gap: 2rem;
	grid-column-gap: 0.25rem;
}

.questao {
	text-align: center;
	margin: auto;
}

.resposta {
	text-align: center;
	margin: auto; 
	color: darkslategrey;
}

.resultgrid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	background-color: #0d558a;
	padding: 1rem;
	color: #fff;
	border-radius: 20px;
}

.TotalScore{
	background-color: #de0a16;
	padding: 1rem;
	color: #fff;
	border-radius: 20px;
	text-align: center;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.BloodPressure{
	background-color: #de0a16;
	padding: 1rem;
	color: #fff;
	border-radius: 20px;
	text-align: center;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.nothing {
	border: 0;
	outline: 0;
	color:white;
	border-bottom: 2px solid white;
	background: transparent;
	text-align: center;
}