<div class="menu">
  <a href="/dashboard">
    <div class="img">
      <img src="images/avatar.png">
    </div>
  </a>
    
    <div class="search">
      <form class="buscaPaciente" action="/buscaPaciente" method="GET">
        <input type="text" id="buscaNomePaciente" name="buscaNomePaciente" placeholder="Buscar Paciente">
        <button class="fa fa-search"></button>
      </form>
    </div>

    <div class="menuoptions">
      <ul>
        <a href="/cadastropaciente">
          <li><button class="btn">NOVO PACIENTE</button></li>
        </a>
        <br>
        <a href="/logout">
          <li><button class="exit">SAIR</button></li>
        </a>
      </ul>
    </div>

  </div>